/* Variables */
:root {
    --website-width: 74rem;
    --background-color: #18191A;
    --foreground-color: #242526;
    --font-color: #ffffff;
    --primary-color: #0063ff;
}

/* General */
html {
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* Nav */
header {
    background-color: var(--foreground-color);
    position: sticky;
    top: 0;
    border-bottom: 0.25rem solid #000;
}

.header-wrapper {
    max-width: var(--website-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.header-wrapper > a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 2rem;
    font-weight: bold;
}

nav {
    
    padding: 1rem;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--font-color);
}

.active {
    color: var(--primary-color);
}

/* Main */
main {
    max-width: var(--website-width);
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--foreground-color);
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

/* Table */
table {
    width: 100%;
}

table th {
    font-weight: bold;
}

table td, table th {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #3c3c3c;
}

table tr:nth-child(even) {
    background-color: #242526;
}

table tr:hover {
    background-color: #343535;
}