/* Variables */
:root {
    --website-width: 74rem;
    --background-color: #18191A;
    --foreground-color: #242526;
    --font-color: #ffffff;
    --primary-color: #0063ff;
}

/* General */
html {
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* Nav */
header {
    background-color: var(--foreground-color);
    position: sticky;
    top: 0;
    border-bottom: 0.25rem solid #000;
}

.header-wrapper {
    max-width: var(--website-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.header-wrapper > a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 2rem;
    font-weight: bold;
}

nav {
    
    padding: 1rem;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--font-color);
}

.active {
    color: var(--primary-color);
}

/* Main */
main {
    max-width: var(--website-width);
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--foreground-color);
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

/* Text */
.font-bold {
    font-weight: bold;
}

/* Table */
table {
    width: 100%;
}

table th {
    font-weight: bold;
}

table td, table th {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #3c3c3c;
}

table tr:nth-child(even) {
    background-color: #242526;
}

table tr:hover {
    background-color: #343535;
}

/* Buttons */
button {
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.button-success {
    background-color: darkgreen;
    color: #fff;
}

.button-danger {
    background-color: darkred;
    color: #fff;
}

.button-warning {
    background-color: yellow;
    color: #000;
}

/* Rows */
.row {
    display: flex;
}

.align-content-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

/* Sizing */
.w-100 {
    width: 100%;
}

/* Dialogs */
.dialog {
    border: 0.25rem solid var(--foreground-color);
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 1rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dark translucent background */
    z-index: 999; /* Place behind the dialog */
}

/* Blazor Error */
#blazor-error-ui {
    background: darkred;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui a {
    color: #fff;
    font-weight: bold;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}