@page "/Exercises"

<PageTitle>Exercises</PageTitle>

<h1>Exercises</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>All</td>
            <td>Show all exercises</td>
        </tr>
        @if (ExerciseViewModel.Muscles != null)
        {
            @foreach (MuscleDto sMuscle in ExerciseViewModel.Muscles)
            {
                <tr>
                    <td>@sMuscle.Name</td>
                    <td>@sMuscle.Description</td>
                    <td>
                        <img alt="Picture showing the anatomy of the human body with the @sMuscle.Name.ToLower() highlighted." src="@sMuscle.ImageUrl" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Inject] IExerciseViewModel ExerciseViewModel { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        await ExerciseViewModel.GetMuscles();
    }
}