@if (IsVisible)
{
    <div class="backdrop">
        <div class="dialog">


            <hr />

            <div class="row justify-content-end">
                <button @onclick="async () => await OnConfirm.InvokeAsync(true)" class="button-success">Confirm</button>
                <button @onclick="async () => await OnConfirm.InvokeAsync(false)" class="button-warning">Cancel</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] 
    public bool IsVisible { get; set; } = false;

    [Parameter] 
    public EventCallback<bool> OnConfirm { get; set; }
}