@page "/admin/muscles"
@using WorkoutTracker.Web.ViewModels.MuscleViewModel
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin - Muscles</PageTitle>

<h2>Admin - Muscles</h2>

<p>
    Under construction...
</p>

@* <EntityListComponent CanAdd="false" CanDelete="false" Title="Admin - Muscles" EntityViewModel="MuscleViewModel" T="Muscle" />
 *@
@code {
    [Inject] IMuscleViewModel MuscleViewModel { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        await MuscleViewModel.GetMuscles();
    }
}