@page "/admin/exercises"
@using WorkoutTracker.Web.ViewModels.ExerciseViewModel
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin - Exercises</PageTitle>

<h2>Admin - Exercises</h2>

<p>
    Under construction...
</p>

@* <EntityListComponent Title="Admin - Exercises" EntityViewModel="ExerciseViewModel" T="Exercise" />
 *@
@code {
    [Inject] IExerciseViewModel ExerciseViewModel { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        await ExerciseViewModel.GetEntities();
    }
}