@using WorkoutTracker.Shared.Dto.Auth.Password
@using WorkoutTracker.Web.ViewModels.AuthViewModel

@if (IsVisible)
{
    <div class="backdrop">
        <div class="dialog">
            <p class="font-bold">
                Change Password
            </p>

            <EditForm Model="Request" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />

                <p>
                    <ValidationSummary />
                </p>

                <p>
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="w-100" id="currentPassword" @bind="Request.CurrentPassword" />
                </p>

                <p>
                    <label for="newPassword">New Password</label>
                    <input type="password" class="w-100" id="newPassword" @bind="Request.NewPassword" />
                </p>

                <p>
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" class="w-100" id="confirmNewPassword" @bind="Request.ConfirmNewPassword" />
                </p>

                <hr />

                <div class="row justify-content-end">
                    <button type="submit" class="button-success"><i class="fa fa-plus" /> Confirm</button>
                    <button @onclick="async () => await OnConfirm.InvokeAsync(false)" class="button-warning"><i class="fa fa-ban" />Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter] 
    public bool IsVisible { get; set; } = false;

    [Parameter] 
    public EventCallback<bool> OnConfirm { get; set; }

    [Parameter]
    public IAuthViewModel AuthViewModel { get; set; } = default!;

    [Parameter]
    public ChangePasswordRequestDto Request { get; set; }

    /// <summary>
    /// Handles the form submission.
    /// </summary>
    private void HandleValidSubmit()
    {
        OnConfirm.InvokeAsync(true);
    }
}