<header>
    <div class="header-wrapper">
        <NavLink href="" Match="NavLinkMatch.All">
            WorkoutTracker
        </NavLink>

        <nav>
            <ul class="nav-list">
                <li>
                    <NavLink href="Muscles" Match="NavLinkMatch.All">Muscles</NavLink>
                </li>
                <li>
                    <NavLink href="Exercises" Match="NavLinkMatch.All">Exercises</NavLink>
                </li>
                <li>
                    <NavLink href="Routines" Match="NavLinkMatch.All">Routines</NavLink>
                </li>

                <li class="nav-auth-link">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="Logout" Match="NavLinkMatch.All">Logout</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="Login" Match="NavLinkMatch.All">Login</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
            </ul>
        </nav>
    </div>
</header>


