<header>
    <div class="header-wrapper">
        <NavLink href="" Match="NavLinkMatch.All">
            WorkoutTracker
        </NavLink>

        <nav>
            <ul>
                <li>
                    <NavLink href="Muscles" Match="NavLinkMatch.All">
                        Muscles
                    </NavLink>
                </li>

                <li>
                    <NavLink href="Exercises" Match="NavLinkMatch.All">
                        Exercises
                    </NavLink>
                </li>

                <li>
                    <NavLink href="Routines" Match="NavLinkMatch.All">
                        Routines
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</header>


